appdirs==1.4.4
attrs==23.2.0
bcrypt==3.1.7
blinker==1.6.2
CacheControl==0.14.0
cachetools==5.3.3
certifi==2023.11.17
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.7
decorator==5.1.1
Deprecated==1.2.14
devscripts===2.22.1ubuntu1
distlib==0.3.7
distro==1.7.0
distro-info==1.1+ubuntu0.2
doc8==1.1.1
docutils==0.20.1
EditorConfig==0.12.2
fabric==3.2.2
Fabric3==1.14.post1
filelock==3.13.1
firebase-admin==6.5.0
flake8==7.0.0
flasgger==0.9.7.1
Flask==2.3.3
Flask-Cors==4.0.0
google-api-core==2.19.0
google-api-python-client==2.130.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
gpg==1.16.0
greenlet==3.0.1
grpcio==1.64.0
grpcio-status==1.62.2
gyp==0.1
httplib2==0.20.2
idna==3.6
importlib-metadata==4.6.4
invoke==2.2.0
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
jsbeautifier==1.14.0
jsonschema-specifications==2023.12.1
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.1.3
mccabe==0.7.0
mistune==3.0.2
more-itertools==8.10.0
msgpack==1.0.8
oauthlib==3.2.0
packaging==23.2
paramiko==2.12.0
pbr==6.0.0
pep8==1.7.1
platformdirs==3.11.0
proto-plus==1.23.0
protobuf==4.25.3
py3dns==3.2.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycode==0.1.2
pycodestyle==2.11.1
pycparser==2.21
pycurl==7.44.1
pyflakes==3.2.0
pygame==2.5.2
Pygments==2.17.2
PyJWT==2.8.0
PyNaCl==1.3.0
pyparsing==2.4.7
PySimpleSOAP==1.16.2
python-apt==2.4.0+ubuntu3
python-debian==0.1.43+ubuntu1.1
python-debianbts==3.2.0
python-dotenv==1.0.0
python-magic==0.4.24
pyxdg==0.27
referencing==0.32.1
reportbug===11.4.1ubuntu1
requests==2.31.0
restructuredtext-lint==1.4.0
rpds-py==0.17.1
rsa==4.9
SecretStorage==3.3.1
six==1.16.0
stevedore==5.1.0
tomli==2.0.1
typing_extensions==4.8.0
ubuntu-dev-tools==0.193+ubuntu4.22.4.2
unidiff==0.5.5
uritemplate==4.1.1
urllib3==2.1.0
virtualenv==20.24.6
wadllib==1.3.6
Werkzeug==2.3.7
wrapt==1.16.0
xdg==5
zipp==1.0.0
