/*
 * Button Styling
 */

 .btn-1 {
    border-radius: 75pt ;
    padding: 5pt;
    background-color: var(--color-secondary);
    color:  var(--color-black);
    font-weight: bold;
 }

 .btn-logout {
    border-radius: 75pt ;
    padding: 5pt;
    background-color: var(--color-black);
    color: red;
    font-weight: bold;
 }