/*
 * Button Styling
 */

 :root {
    /* color:; */
     --color-primary: #c4b;
     --color-secondary: #4eafcb;
     --color-black: black;
     --color-white: white;
     --color-red: red;
 
     --test-color: lime;
 }

 .btn-1 {
    border-radius: 75pt ;
    padding: 5pt;
    background-color: var(--color-secondary);
 }

 .btn-logout {
    border-radius: 75pt ;
    padding: 5pt;
    background-color: var(--color-black);
    color: red;
 }