/*
 * Quiz Page Styling
 */

 :root {
    /* color:; */
     --color-primary: #c4b;
     --color-secondary: #4eafcb;
     --color-black: black;
     --color-white: white;
     --color-red: red;
 
     --test-color: lime;
 }

.flex-nav {
    padding: 5px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;    
}

.user-highscore {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
}

.highscore {
    padding: 15px;
    
}

.gameBoard {
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.time-score {
    display: flex;
    justify-content: space-between;

}

.timer {
    border: 2px solid red;
    padding: 5px;    

}

.score {
    font-weight: bold;

}

.que-container {
    padding: 15px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: none; /* Hidden by default */
    z-index: 1000; /* Over other elements */
    animation: fadeIn 0.5s;
}
/* Correct popUp style*/
.popup.correct {
    background-color: green;
    color: var(--color-black);
}

/* incorrect popUp style*/
.popup.incorrect {
    background-color: var(--color-red);
    color: var(--color-black);
}

/* Level transition popUp styling */
.popup.level {
    background-color: #2196f3;
    color: white;
}

/* Animation for the fadeIn effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.quiz-update-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.quiz-update-body {


}

.quiz-options {
    gap: 12px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    
}

.quiz-update-select-level {
    padding: 1rem;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.difficulty {
    padding: 2rem;
    align-items: center;
    
}

.quiz-update-select {
    background-color: aqua;

}

.containerQues {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;

}

.saveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.saveButton-color {
    padding: 5px;
    border-radius: 75pt;
    background-color: aqua;

}
