:root {
    padding: 12px;
    background-color: lightcoral;
}
/* Responsive styles */
@media only screen and (max-width: 800px) {
    /* Adjustments for smaller screens */
    body {
        font-size: 16px; /* Adjust font size */
    }


.hdr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid lime;
}

.hdr img {
    width: 100%;
    height: auto;
}

.intro {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: lightseagreen;
    border: 3px solid black;
    
}



nav ul {
    flex-direction: column;
}

nav li {
    margin-bottom: 10px;
}


/* Adjustments for larger screens */
@media only screen and (min-width: 100px) {
    body {
        font-size: 18px; /* Increase font size for larger screens */
    }

    .intro {
        padding: 40px; /* Add more padding */
    }

    .hdr img {
        max-width: 100%; /* Limit image width for larger screens */
    }

    nav ul {
        flex-direction: row; /* Display items horizontally */
    }

    nav li {
        margin-right: 20px; /* Add margin between list items */
    }

    /* Add other responsive adjustments as needed */
}



}
.userlist, a {
    color: black;
}

.form {
    padding: 2px;
}

/*
 * message Alerts
 ==================*/
#success-message {
    color: green;
    font-weight: bold;
}

#error-message {
    color: red;
    font-weight: bold;
}

.popup-message {
    display: flex;
    justify-content: center;
    background-color: lime;
    color: black;
    font-weight: bold;

}

.userProfile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*
 * Footer Settings
 ===================*/
footer {
    display: flex;
    justify-content:flex-end;
    justify-content: space-around;
}