/*
* Web Application Styling
*/

    :root {
/* color:; */
    --color-primary: #c4b;
    --color-secondary: #4eafcb;
    --color-black: black;
    --color-white: white;
    --color-red: red;

    --test-color: lime;
    }


/*
* body - html element
*/
    html {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-black)
    }


    .username-display {
    display: flex;
    justify-content: center;
    }

    .highscore-container {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: var(--color-secondary);
    }

    .highscore-header {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary);
    }

    table {
    padding: 5px;
    display: flex;
    flex-direction: column;
    }



tr {
    margin-top: 5px;    
    display: flex;
    justify-content: center;
    justify-content: space-between;
    border: 5px solid var(--color-primary);

    }

    td {
    padding: 5px;
    }

    .intro {
        display: flex;
        justify-content: center;
    }