<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/btns.css') }}">
</head>
<body>

    {% include 'layout/header.html' %}
    {% include 'layout/navBar.html' %}

    <main>
        <br><br>
        <li><a href="/profile/{{ username }}" class="btn-1" >Profile</a></li>
        <section class="intro">
            <h1>Welcome{{ " " + username if username else "" }}</h1>
            <!-- Add any additional content here -->
        </section>

        <section class="content">
            <!-- Add content for this section -->
            <h2>Quiz Application</h2>
            <p>So Tell Me. Do you think you've got the answers? </p>
        </section>
    </main>

    {% include 'layout/footer.html' %}

   
</body>
</html>
