<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">


    <title>Login Page</title>
</head>
<body class="body-login">

    {% include 'layout/header.html' %}

    <div class="intro">
        
        <div class="form">
            <h1>Login</h1>

            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            {% if success %}
                <p style="color: green;" id="success-message">{{ success }}</p>
            {% endif %}


            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>
                <input class="btn-login" type="submit" value="Login">
            </form>
            <p>Don't have an account?<br> <a class="a-login" href="{{ url_for('signup') }}">Sign up here</a></p>
        </div>
    </div>



    {% include 'layout/footer.html' %}
</body>
</html>
