<!-- profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/btns.css') }}">
    <title>User Profile</title>
</head>
<body>

    <nav>
        <div>
            <ul class="btn-ul">
                <li ><a href="{{ url_for('home_page') }}" class="btn-1">Return to Home</a></li>
                <li ><a href="/logout" class="btn-logout">Logout</a></li></a> <!-- Logout button -->
            </ul>
        </div>
    </nav>
    
    <div class="userProfile intro">
    <h1>USER PROFILE</h1>
    <hr/>
    <p><strong>USERNAME:</strong> {{ user.username }}</p>
    <p><strong>FULL NAMEs:</strong> {{ user.name }} {{ user.surname }}</p>
    <p><strong>AGE:</strong> {{ user.age }}</p>
    <p><strong>GENDER:</strong> {{ user.gender }}</p>
    <p><strong>E-MAIL:</strong> {{ user.email }}</p>
    <!-- Add more user information as needed -->
    </div>

    <br><br>

    <footer class="intro">
        <div class="footer-content">
            <p> KNOW IT ALL &copy; 2024. All rights reserved.</p>
            <ul class="btn-ul">
                <li><a href="terms.html"  class="btn-1">Terms of Service</a></li>
                <li><a href="privacy_policy.html" class="btn-1">Privacy Policy</a></li>
                <li><a href="contact_us.html" class="btn-1">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
